<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hunts</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs', { user: user }) %>
    <h1>Here's all the Hunts</h1>
    <a href="/hunts/new">Add a hunt</a>
    <ul>
    <% hunts.map(hunt => { %>
        <a href="/hunts/<%= hunt._id %>">
        <li><%= hunt.monsterName %></li>
        </a>
    <% }) %>
    </ul>

</body>
</html>