<body>
    <%- include('../partials/_navbar.ejs', { user: user }) %>
    <div class="index-header"
    <h1>Here's all the Hunts</h1>
    <a href="/hunts/new">Add a hunt</a>
    </div>
    <div class="card-container">
    <% hunts.map(hunt => { %>
        <a href="/hunts/<%= hunt._id %>">
        <%= hunt.monsterName %>
        </a>
    <% }) %>
    </div>

</body>
